#pubdetails {
    #header-content, .bg {
        display:block;
        @media (max-width: 991px) {
           display: block;
        }
    }
    #header-content {
        @extend %page-padding;
        margin-bottom: 30px;
        color: #fff;
        min-height: 90px;
    }
    .bg {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 105px;
        left:0%;
        height: 140px;
        background-color: $theme-dark;
    }

    #content {
        @extend %page-padding;

        padding-top: 15px;

        h2 {
            margin-top: 15px;
        }

        h3 {
            margin-top: 10px;
        }

        h4 {
            margin-top: 5px;
        }

        .title  {
            font-weight: bolder;
        }
        .author  {
            a {
                border-bottom: 1px dashed;
                &:hover  {
                    border-bottom-style: solid;
                    text-decoration: none;
                }
            }
            > em {
                border-bottom: 1px solid;
                font-style: normal;
            }
        }
        .third-line {
            font-style: italic;
        }

        ol.link-list {
            list-style-type: none;
            padding: 0;

            li {
                margin-bottom: 5px;
                padding: 2px;
                padding-left: 5px;
                border: 1px solid $theme-dark;
                border-radius: 5px;

                &:hover {
                    border-color: $theme-color;
                }

                a {
                    display:block;

                    &:hover {
                        color: $theme-color;
                    }

                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
