---
layout: page
---
<div id="hub">
  <section id="header-content">
    <h1>{{ page.title }}</h1>
  </section>
  <section class="bg"></section>
  <div class="row">
    <!-- Aside Navigation  -->
    <aside id="aside" class="col-md-4">
      {% include hubaside.html %}
    </aside>
    <!-- Post List -->
    <section id="content" class="col-md-8">
      {{ page.description | markdownify }}
      {% include hublinks.html citekey=page.citekey links=page.links %}
      {{ content }}
      {% include hubabsbibtex.html citekey=page.citekey links=page.links %}
    </section>
  </div>
</div>
